.icon_button {
  cursor: pointer !important;
}

.selectedOrder {
  position: relative;
  gap: 3rem;
  padding-left: 3rem;
}

.selectedOrder::after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 10%;
  background-image: url('/arrow_right_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccc;
}


