.icon_button {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.selectedOrder {
  position: relative;
  gap: 3rem;
  padding-left: 3rem;
}

.container {
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.container:hover {
  background-color: blue;
}

.icon_button:hover {
  transform: scale(1.2);
}

.selectedOrder::after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  width: 10%;
  background-image: url('/arrow_right_icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccc;
}


