* {
  box-sizing: border-box;
}

p,
h6,
div,
body {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  min-height: 10vh;
}

main {
  height: 90vh;
}

body a {
  text-decoration: none;
  color: inherit;
}